.App {
        background-color: black;
}

.App-logo {
        height: 40vmin;
        pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
        .App-logo {
                animation: App-logo-spin infinite 100s linear;
        }
}

.App-nav {
        backdrop-filter: blur(30px);
        box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
        border: 2px solid rgba(255, 228, 237, 0.18);
        padding: 10px;
        width: 100%;
        justify-items: center;
}

.App-item1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
}

.App-item2 {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: 20px;
}

.App-item3 {
        display: grid;
        grid-template-columns: repeat(4, 3fr);
        gap: 20px;
}

.App-nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
}

.App-nav li {
        margin-bottom: 10px;
}

.App-item1,
.App-item2,
.App-item3,
.App-item4 {
        text-decoration: none;
        color: white;
        font-size: 18px;
}

.App-header {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family:
                system-ui,
                -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                Oxygen,
                Ubuntu,
                Cantarell,
                "Open Sans",
                "Helvetica Neue",
                sans-serif;
        font-size: calc(100px + 2vmin);
        color: white;
}

.App-link {
        color: white;
        text-decoration: none;
        font-size: 10px;
}

@keyframes App-logo-spin {
        from {
                transform: rotate(0deg);
        }
        to {
                transform: rotate(360deg);
        }
}
