.App {
        text-align: center;
}

.App-logo {
        height: 40vmin;
        pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
        .App-logo {
                animation: App-logo-spin infinite 100s linear;
        }
}

.App-nav {
        background-color: #e4e4e4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.App-nav ul {
        list-style: none;
}

.App-item1 {
        text-decoration: none;
        color: black;
}

.App-item2 {
        text-decoration: none;
        color: black;
}

.App-item3 {
        text-decoration: none;
        color: black;
}

.App-item4 {
        text-decoration: none;
        color: black;
}

.App-menu {
        text-decoration: none;
}
.App-header {
        background-color: #e4e4e4;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family:
                system-ui,
                -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                Oxygen,
                Ubuntu,
                Cantarell,
                "Open Sans",
                "Helvetica Neue",
                sans-serif;
        font-size: calc(100px + 2vmin);
        color: rgb(0, 0, 0);
}

.App-link {
        color: #000000;
        text-decoration: none;
        font-size: 10px;
}

@keyframes App-logo-spin {
        from {
                transform: rotate(0deg);
        }
        to {
                transform: rotate(360deg);
        }
}
