.Chat-Page {
        display: flex;
        flex-direction: column;
        height: 100vh;
}

.Chat-Header {
        color: black;
        padding: 1rem;
        text-align: center;
}

.Chat-Header .Exit-Button {
        position: fixed;
        top: 5%;
        left: 10px;
        font-size: 20px;
        text-decoration: none;
        color: white;
        background-color: black;
        border-radius: 5px;
        padding: 10px 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s;
}

.Chat-Header .Exit-Button:hover {
        background-color: #333;
}

.Chat-Body {
        flex: 1;
        padding: 1rem;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 55px;
        font-size: 16px;
        line-height: 1.5;
        font-family: "Arial", "Helvetica", sans-serif;
}

.Chat-Message {
        width: 30%;
        padding: 0.8rem;
        border-radius: 0.5rem;
        line-height: 1.5;
        word-wrap: break-word;
}

.Code-Message {
        width: 35%;
        background-color: #1e1e1e;
        color: #ffffff;
        font-family: "Courier New", Courier, monospace;
        padding: 0.8rem;
        border-radius: 5px;
        overflow-x: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
        line-height: 1.5;
}

.User-Message {
        width: 35%;
        align-self: flex-end;
        background-color: #eaeaea;
        color: #333333;
        padding: 0.8rem;
        border-radius: 10px;
        max-width: 70%;
}

.Assistant-Message {
        width: 50%;
        align-self: flex-start;
        background-color: #2c2c2c;
        color: #ffffff;
        padding: 0.8rem;
        border-radius: 10px;
        max-width: 70%;
}

.Assistant-Avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
}

.Chat-Footer {
        display: flex;
        padding: 1rem;
        border-top: 1px solid #ccc;
}

.Chat-Footer input {
        flex: 1;
        padding: 0.8rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        margin-right: 0.5rem;
}

.Chat-Footer button {
        padding: 0.8rem 1rem;
        font-size: 1rem;
        background-color: black;
        color: white;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: 0.5s ease-in-out;
}

.Chat-Footer button:hover {
        background-color: #333;
}

.Login-SignIn-Form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: #f9f9f9;
        padding: 2rem;
}

.Form-Container {
        display: flex;
        width: 80%;
        max-width: 1000px;
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        overflow: hidden;
}

.Login-Side,
.SignIn-Side {
        flex: 1;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #ccc;
}

.SignIn-Side {
        border-right: none;
}

.Form-Group {
        margin-bottom: 1.5rem;
        width: 100%;
}

.Form-Group label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        color: #333;
}

.Form-Group input {
        width: 100%;
        padding: 0.8rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
}

.Form-Button {
        width: 100%;
        padding: 0.8rem;
        font-size: 1rem;
        background-color: black;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s ease;
}

.Form-Button:hover {
        background-color: #333;
}
