.contact-page {
        background-color: var(--background);
        min-height: 100vh;
}

.contact-container {
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 10%;
        margin-top: 10%;
}

.contact-title {
        font-size: 48px;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 40px;
        text-align: center;
}

.contact-content {
        display: flex;
        gap: 40px;
}

.contact-info {
        flex: 1;
        background-color: var(--surface);
        padding: 40px;
        border-radius: 12px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
}

.info-item .icon {
        color: var(--primary);
        margin-right: 15px;
}

.info-item p {
        color: var(--on-surface);
        font-size: 18px;
}

.info-item a {
        color: var(--secondary);
        text-decoration: underline;
}

.info-item a:hover {
        color: var(--primary);
}

.info-item a:active {
        color: var(--primary);
}

.social-icons {
        display: flex;
        gap: 20px;
        margin-top: 30px;
}

.social-icons a {
        color: var(--on-surface);
        transition: color 0.3s ease;
}

.social-icons a:hover {
        color: var(--primary);
}

.map-container {
        flex: 2;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
        .contact-content {
                flex-direction: column;
        }

        .contact-page {
                margin-top: 30%;
        }

        .contact-info,
        .map-container {
                width: 100%;
        }
}
