.app {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #000000;
}

.auth-container {
        display: flex;
        flex-grow: 1;
        position: relative;
        overflow: hidden;
}

.auth-column {
        flex: 1;
        display: flex;
        align-items: center;
        position: relative;
        padding: 80px;
}

.signin-column {
        background: linear-gradient(135deg, #bb86fc 0%, #8b31ff 100%);
        position: relative;
        overflow: hidden;
}

.signin-column::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(
                circle at top right,
                rgba(255, 255, 255, 0.2),
                transparent 60%
        );
}

.login-column {
        background-color: #121212;
}

@media (max-width: 1200px) {
        .auth-column {
                padding: 60px;
        }
}

@media (max-width: 768px) {
        .auth-container {
                flex-direction: column;
        }

        .auth-column {
                padding: 40px 24px;
        }
}
